{
    "presets": ["react-native"],
    "plugins": [
        ["module-resolver", {
            "root": ["./app"],
            "alias": {
                "components": "./components",
                "utils": "./utils",
                "sounds": "./sounds",
                "images": "./images",
                "styles": "./styles",
            }
        }]
    ],
    "env": {
        "production": {
            "plugins": ["transform-remove-console"]
        }
    }
}
